.table{
  margin-top:50px;
    color:#ffff;
    text-align: center;
}
  .img-c{
    width:100px;
    height: 50px;
  }
.items-clear{
  color:#ffff;
  font-size:30px;
  margin-top:50px;
}
.total{
  color:#ffff;
  float:right;
  margin-right: 10%;
}