.items-productos{
  background-color: #00004f;
}
.card-product{
width: 300px;
display: inline-block;
background-color:#08085c;
color: #ffff;  
margin-bottom: 15px;
margin-top: 40px;
margin-left: 10px;
border-radius: 10px ;

}
.card-img-top{
  height: 150px;
  border-radius: 20px;
}
.btn{
  margin-bottom: 15px;
}
a{
  
color:white;
}

.detalle-vacio {
  color: white;
}