@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    margin:0;
    padding:0;
}
.Nav{
background-color: #1a1a6d;
height: 60px;
display: flex;
justify-content: space-between;

}
.container{
    height: 50px;
}
a{
    margin-top: 12px;
    margin-left: 10px;
text-decoration: none;

}
a:hover{
    background-color: #2d2d8a;
    color:#e2e2e8;
}
.logo{
    width: 50px;
    height: 40px;
    margin-right: 40px;
}